body {
  background-color: #FF7083;
  font-family: sans-serif;
  font-size: 1.5em;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

h1 {
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 3px 3px 3px red;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

nav ul li {
  display: block;
  float: left;
  margin: .4em;
  padding: .5em;
  border: .1em solid red;
  border-radius: 15px;
  text-align: center;
}

nav ul li:hover {
  background-color: #F25ABF;
  border-style: outset;
}

nav ul li:active {
  background-color: #CD4CA2;
  border-style: inset;
}

#content {
  clear: both;
  margin-top: 2em;
}

footer {
  display: block;
  clear: both;
  margin-top: 2em;
  /* position: fixed; */
}

aside {
  float: right;
  width: 25%;
}
