body {
  background-color: #FF7083;
}

h1 {
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 3px 3px 3px red;
}

nav ul li {
  display: block;
  float: left;
  padding-left: 3em;
}

footer {
  display: block;
  clear: both;
  /* position: fixed; */
}
