body {
  background-color: #FF7083;
  font-family: sans-serif;
  font-size: 1.5em;
}

h1 {
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 3px 3px 3px red;
}

nav ul li {
  display: block;
  float: left;
  margin: .4em;
  padding: .5em;
  border: .1em solid red;
  border-radius: 15px;
  text-align: center;
}

nav ul li:hover {
  background-color: #F25ABF;
  border-style: outset;
}

nav ul li:active {
  background-color: #CD4CA2;
  border-style: inset;
}

footer {
  display: block;
  clear: both;
  margin-top: 2em;
  /* position: fixed; */
}
